<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})"
	>
<head>
<meta charset="ISO-8859-1">
<title th:text="{title}">show contact</title>
</head>
<body>
	<section>
		<div class="card">

			<div class="card-body text center">All user details</div>
		<!-- 	search  -->
		
		<div class="search-container my-4">
		<input type="text"  id="search-input" class="form-control" placeholder="search">
		<div class="search-result"></div>
		
		</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c: ${contact}">
							<th scope="row" th:text="${c.cid}"></th>
							<td >
							<img src="" class="my_profile_picture" th:src="@{'/image/'+${c.image}}" alt="profile-photo">
							<span th:text="${c.name}"></span>
							</td>
							<td >
							<a th:href="@{'/user/'+${c.cid}+'contact/'}">
							<span th:text="${c.email}"></span></a>
							</td>
							<td th:text="${c.phone}"></td>
							<td>
								<button class="btn btn-danger btn-sm">delete</button>
								<button class="btn btn-primary btn-sm">Edit</button>

							</td>

						</tr>
					</tbody>
				</table>

				<!-- pagination part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currntpage != 0}" class="page-item"><a th:href="@{'/user/show-contact/'+${currntpage-1}}" class="page-link" href="#">Previous</a></li>
						<li th:classappend="${currntpage==i-1?'active':''}"  th:each="i : ${#numbers.sequence(1,totalpage)}" class="page-item">
						<a class="page-link" th:href="@{'/user/show-contact/'+${i-1}}"><span th:text="${i}"></span></a>
						</li>
						<li th:if="${currntpage+1 != totalpage}" class="page-item"><a th:href="@{'/user/show-contact/'+${currntpage+1}}" class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</section>
</body>
</html>