<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<form method="post" th:action="@{/verify-otp}">
			<div class="container py-5 h-100">
				<div
					class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-8 col-lg-6 col-xl-5">
						<div class="card bg-dark text-white" style="border-radius: 1rem;">
							<div class="card-body p-5 text-center">

								<div class="mb-md-5 mt-md-4 pb-5">
                                            
									<div class="alert alert-primary" role="alert">we have
										send OTP your mail !</div>
										
										<!-- message box start -->
										<!-- <div th:if="${session.message}" class="container">
										<div class="alert alert-danger my-2 text-center" role="alert">
										<span th:text="${session.message}"></span>
										</div>
										 --><!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block> -->
										</div>
										<!-- message box End -->
										
										
									<!-- <h2 class="fw-bold mb-2 text-uppercase">Login</h2> -->
									<p class="text-white-50 mb-5">Enter OTP!</p>

									<div class="form-outline form-white mb-4">
										<input type="text" id="otp" name="otp"
											class="form-control form-control-lg" /> 
									</div>

									<button class="btn btn-outline-light btn-lg px-5" type="submit">Verify</button>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

	</section>
</body>
</html>